<!-- begin:footer -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <p>Copyright © 2014 All Right Reserved.</p>
            <ul class="list-inline">
                <li><a href="saved_resource.html">Terms Of Service</a></li>
                <li><a href="saved_resource.html">Privacy</a></li>
            </ul>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <ul class="list-social">
              <li><a href="saved_resource.html"><i class="fa fa-twitter"></i></a></li>
              <li><a href="saved_resource.html"><i class="fa fa-facebook"></i></a></li>
              <li><a href="saved_resource.html"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="saved_resource.html"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- end:footer -->