<br>
<div>
<%= form_tag "/add" do %>
  <li class="mnav-ul-li">
        <% if @groups!=nil&&@groups.size>0 %>
          <% @groups.each do |f| %>
            <li>
            <%=link_to "#{f.name}",group_path(f.id)%>
            </li>
            <br>
          <%end%>

        <%end%>
      <%= button_tag "add",:class => "btn btn-info btn-md"%>
  </li>
  <% end %>
<script>
$(document).on('click', '.mnav-ul-li', function(){
$(this).parent().find('ul:first > li').slideToggle();
$(this).parent().find('ul:first > li').css({ 
"display": "block",
"width": "200px", 
});
});    

</script>
</div>