<div class="group_header">
  <p> <%= link_to "#{@group.name.upcase}",user_group_introduce_path(params[:user_id],@group)  %>  /   
    <%= @group.memberlists.size + 1 %>  members
  </p>
</div>
<!-- reder seach -->
<%= render 'seach' %>
<!-- render -->
<div class="member">
  <div id = "review">
    <%= render :partial => @group.memberlists %>
  </div>
</div>
</div>