/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */
 ol, ul {
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 15px;
}
#cssonclickswitch a span, #cssonclickswitch ul li {display: none;}

#cssonclickswitch a:active span, 
#cssonclickswitch a:focus span, 
#cssonclickswitch :active ul li, 
#cssonclickswitch :focus ul li 
{
display: block;
/*position: absolute;*/
position: relative;
top: 0;
left: 0px;
width: 50px;
color:red;
background:#fff;
}
.mnav-ul-ul li {
display: none;
}
.code{
	padding-top: 5%;
}
.member{
	width: 100%;
	height: 80px;
}
.sub_member {
	width: 180px;
	height: 180px;
	float: left;
	margin: 25px;
	text-align: center;
	align: center;
	border: 5px solid;
}
/**/