/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */
 ol, ul {
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 15px;
}
#cssonclickswitch a span, #cssonclickswitch ul li {display: none;}

#cssonclickswitch a:active span, 
#cssonclickswitch a:focus span, 
#cssonclickswitch :active ul li, 
#cssonclickswitch :focus ul li 
{
display: block;
/*position: absolute;*/
position: relative;
top: 0;
left: 0px;
width: 50px;
color:red;
background:#fff;
}
.mnav-ul-ul li {
display: none;
}
.code{
  padding-top: 5%;
}
.member{
  width: 100%;
  height: 100%;
  margin: auto;
}
.sub_member {
  width: 17%;
  height: 180px;
  float: left;
  margin: 25px;
  text-align: center;
  align: center;
  border: 5px solid;
}
/*trong _member*/
.test + .tooltip > .tooltip-inner {
      background-color: #8AC007; 
      color: #FFFFFF; 
      border: 1px solid green; 
      padding: 15px;
      font-size: 15px;
      text-align: left;
      text-indent: left;
  }
  /* Tooltip on top */
.test + .tooltip.top > .tooltip-arrow {
      border-top: 5px solid red;

  }
  /*end trong _member*/

  /*trong _user*/
.user_seach + .tooltip > .tooltip-inner {
      background-color: #FFFFFF; 
      color: #8AC007; 
      border: 1px solid green; 
      padding: 15px;
      font-size: 15px;
      text-align: left;
      text-indent: left;
      border-radius:6px; /*Rounded corners. N/A for IE 8 and below.*/
    box-shadow: 0 1px 4px #AAAAAA;
  }
  /* Tooltip on top */
.user_seach + .tooltip.top > .tooltip-arrow {
      border-top: 5px solid red;

  }
  /*end trong _user*/
  /*trong show*/
.bs-example{
      margin-top: -28px;
      margin-left: 730px;
      font: red;
    }
.bs-example li a{
      color: red;
    }
/*end trong show*/

/*group_header*/
.group_header{
  margin-left: -1.5%;
  margin-top: 0%;
  width: 103.5%;
  background-color: lightblue;
}
.group_header p{
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-size: 30px;
  color: green;
  text-align: left;
}
.user_seach{
  width:90px;
  height: 90px;
  float: left;
  margin: 25px;
  text-align: center;
  align: center;
  border-radius: 50%;
}